# Turso Database Configuration
TURSO_DATABASE_URL=libsql://anually-kamsy325.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=

# JWT Authentication
JWT_SECRET=

# Paystack API Credentials
PAYSTACK_SECRET_KEY=
PAYSTACK_CALLBACK_URL=

# Email Service
EMAIL_USER=
EMAIL_PASS=

# Server Configuration
PORT=3000
FRONTEND_URL=https://anually.vercel.app
